APScheduler==3.5.3
beautifulsoup4==4.6.3
bs4==0.0.1
certifi==2018.10.15
chardet==3.0.4
Click==7.0
Django>=2.1.5
django-apscheduler==0.2.13
django-compat==1.0.15
dlib==19.16.0
face-recognition==1.2.3
face-recognition-models==0.3.0
idna==2.7
Jinja2==2.10.1
MarkupSafe==1.1.0
numpy==1.15.4
Pillow==8.2.0
pytz==2018.7
requests==2.20.1
six==1.11.0
tzlocal==1.5.1
urllib3==1.24.1
