html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    padding-bottom: 60px;
    font-family: Overpass, sans-serif !important;
}

.bg {
    height: 100%;
    background: no-repeat;
    background-size: 100% auto;
}

::selection {
  background: #ffd5af; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffd5af; /* Gecko Browsers */
}

.btn-circle {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px !important;
    font-size: 24px;
    line-height: 1.33;
}

p {
    text-indent: 20px;
}

footer {
    height: 60px;
    width: 100%;
    line-height: 60px;
    position: absolute;
    background-color: #F9F7F3;

    bottom: 0;
}

.bottom-container {
    width: auto;
    max-width: 680px;
    background-color: #F9F7F3;
    padding: 0 15px;
}


.fg-color {
    /*!*#cae1cd *!*/
    /*background-color: #cae1cd !important;*/
    /*!*color: #000000 !important;*!*/
}

.affiche-list {
    max-width: 60rem;
}