{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <div class="container">
    <div class="row-sm-6">
        <img class="align-item-center m-auto w-100" src="{% static 'images/logo.png' %}" alt="Symphon.io">
    </div>

    <div class="row-sm-5">
        <p>
            Наша команда хочет предложить современную и технологичную платформу для привлечения внимания к музыкальной
            классике.
            С использованием передовых технологий и обновленных подходов к представлению информации вы сможете
            пересмотреть свои взгляды на творчество известных композиторов и на музыкальное искусство в целом.
        </p>
        <p>
            Технологии распознавания образов и лиц привнесут интерактивность в процесс знакомства с биографиями и
            достижениями авторов классических произведений. Наше приложение определит личность на портрете,
            предложит ознакомиться с творческим путем и расскажет, где найти ближайшие концерты, на которых будет
            звучать музыка,
            написанная этим человеком.
        </p>
        <p>
            Мы считаем, что продолжение музыкальной традиции, соединяющей многие поколения, занимает значимое место в
            процессе развития культурной среды. Именно для этого вам могут быть предложены следующие сервисы:
        <ul>
            <li>
                Распознавание лиц – c помощью этого инструмента вы сможете мгновенно получать информацию о любых
                неизвестных музыкантах.
            </li>
            {#            <li>#}
            {#                Подборки произведений, как индивидуализированные, на основе личных предпочтений, так и на текущих#}
            {#                погодных#}
            {#                условиях для получения полного спектра эмоций от прослушивания.#}
            {#            </li>#}
            <li>
                Встроенный музыкальный плеер, который позволит актуализировать представления о музыке “здесь и сейчас”.
            </li>
            <li>
                Навигатор, который сообщит о ближайшем концерте понравившегося вам композитора.
            </li>
            <li>
                Мы продумали всё до мелочей – вам понадобится минимум усилий, чтоб воспользоваться нашим
                продуктом.
            </li>
        </ul>

    </div>

    </div>
{% endblock %}
