{% extends 'base.html' %}

{% block content %}
    <h2> Настройки администратора </h2>
    <div class="row mt-4">
        <div class="col-12 col-md-6">
            <form enctype="multipart/form-data" action="/add_photo" method="post" id="form">
                {% csrf_token %}
                <div class="form-group">
                    <label>Добавление композиторов и композиций, ручное
                        обновление афиши</label>
                    <a class="btn btn-outline-success" href="/admin">GO</a>
                </div>
                <div class="form-group">
                    <label>Обновить афишу:</label>
                    <a class="btn btn-outline-success" href="{% url 'update' %}" onclick="loader()">Обновить афишу</a>
                    {% load static %}
                    <img id="loader" height="40px" src="{% static 'images/loader3.gif' %}" style="display: none;">
                </div>
                <h5> Обучение распознавания: </h5>
                <div class="form-group">
                    <label>Выберите композитора</label>
                    {{ form.composer }}
                </div>
                <div class="form-group ">
                    <label class="btn btn-outline-success my-2 my-sm-0" id="photoField">
                        {{ form.photo }}
                        Добавить образец фотографии композитора
                    </label>
                </div>
                {% if success %}
                    <div class="alert alert-success">
                        <h2> Успешно обучено </h2>
                    </div>
                {% endif %}
                {% if danger %}
                    <div class="alert alert-danger">
                        <h2> Ваша фотография не подходит </h2>
                    </div>
                {% endif %}
            </form>
        </div>
    </div>
    {% load static %}
    <script src="{% static 'js/admin_page.js' %}"></script>
{% endblock %}