{% extends 'base.html' %}

{% block content %}
    <div class="list-group mt-2">
        {% for concert in concerts %}
            <div class="list-group-item list-group-item-action fg-color">

                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ concert.place }}</h5>
                    <small>{{ concert.start_time }}</small>
                </div>
                <p class="mb-1">{{ concert.description }}</p>
                <small><a href="{{ concert.url }}"><u>Подробнеe</u></a></small>
                <small><a href="{{ concert.buy_tickets_url }}"><u>Купить билеты</u></a></small>
            </div>
        {% endfor %}
    </div>
{% endblock %}