{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 col-lg-4 mt-4 " align="center">
            <img class="rounded-circle mb-4 img-thumbnail" src="/media/{{ photo }}">
            <div class="d-block">
                <!-- Оглавление -->
            <h2 class="d-lg-none">{{ name }}</h2>
                <div class="list-group">
                    <a href="#bio" class="list-group-item list-group-item-action fg-color">Биография</a>
                    <a href="#compositions" class="list-group-item list-group-item-action">Композиции</a>
                    <a href="affiche/" class="list-group-item list-group-item-action">Афиша</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-8 mt-4 mb-4">
            <h2 class="d-none d-lg-block">{{ first_name }} {{ patronymic }} {{ name }}</h2>
            <h4>Биография</h4>
            <div id="bio" align="justify" style="padding-left: 10px;">
                {{ biography }}
            </div>
            <h4>Композиции</h4>
            <div id="compositions" style="padding-left: 10px">
                {% if compositions %}
                <ul class="list-group">
                    {% for composition in compositions %}
                        <li class="list-group-item">
                        <label>{{ composition.name }}</label><br>
                        <audio controls class="col-12">
                            <source src="/media/{{ composition.source }}">
                        </audio>
                    {% endfor %}
                    </li>
                </ul>
                {% else %}
                    <h5>Копозиций не добавлено!</h5>
                    {% if user.is_superuser %}
                        Вы как администратор, <a href="/admin_page">можете их добавить</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}