{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-sm-12" align="center">
            <h1> Неудача! </h1>
            <h2> {% if reason == 'no faces' %}
                Мы не нашли лиц на вашем изображении.
            {% elif reason == 'no targets' %}
                На этом изображении нет известных композиторов.
            {% endif %}</h2>
            {% load static %}
            <img src="{% static 'images/beethoven.jpg' %}" width="90%">
        </div>
    </div>

{% endblock %}