{% extends 'base.html' %}

{% block content %}
<div class="row d-lg-none" id="cameraThings">
    <div class="container">
        <div class="form-group row" align="center">
            <div class="col-3"></div>
            <select class="form-control col-6" id="cameraSelect" hidden="true"></select>
        </div>
        {% load static %}
        <video autoplay id="camera" poster="{% static 'images/take.png' %}" class="col-12" data-toggle="tooltip" data-placement="bottom" title="press to take a shot"></video>
    </div>
    <div class="col-12">

    </div>
</div>
<div class="row" id="buttons">
    <div class="col-sm-12">
        <form method="post" action="/recognize" id="form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.data }}
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center d-lg-block">
                            <button class="btn btn-danger btn-circle" type="button" id="takeShot"  hidden="true"> </button>
                    </div>
                </div>
            </div>
                <div class="col-sm-12 col-md-6 col-lg-4" style="margin-top: 100px">
                    <label class="btn btn-link col-12" id="photoField">
                        {{ form.photo }}
                        Загрузить фото из файловой системы
                    </label>
                </div>
            </div>
        </form>
    </div>
</div>
{% load static %}
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}
