{% extends "base.html" %}

{% block content %}
    <div class="row mt-2">
    {% for comp in compilations %}
        <div class="col-6 col-sm-4 col-md-3">
            <div class="card mb-4 shadow-sm fg-color">
                <img class="card-img-top" src="/media/{{ comp.photo }}" alt="{{ comp.name }}">
                <div class="card-body">
                    <h5 class="card-title"><div class="text-nowrap">{{ comp.name }}</div></h5>
                    <a href="{% url 'compilation' comp.pk %}" class="btn btn-secondary">Слушать</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}